.subreddits-container {
	background-color: chartreuse;
	width: 25vw;
	height: 100vh;
	align-items: center;
	justify-content: center;
	padding-left: 20px;
	margin-left: 20px;
	border-radius: 10px;
}

.top-communities {
	background-color: aquamarine;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20vw;
	height: 30vh;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.premium {
	background-color: bisque;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20vw;
	height: 25vh;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.home-page {
	background-color: coral;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20vw;
	height: 10vh;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.directory {
	background-color: crimson;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20vw;
	height: 25vh;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}
