.home-container {
	background-color: blueviolet;
	width: 45vw;
	height: 100vh;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 100px;
}

.card {
	display: flex;
	background-color: cadetblue;
	width: 40vw;
	align-items: center;
	justify-content: center;
	height: 30vh;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}
